{
  "installedESLint": true,
  "extends": "standard",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "standard",
    "promise",
    "node"
  ],
  "globals": {}
}